<div class="container">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" >
        <img [src]='libros[1].imagen' d-block w-100 alt="Random first slide">
      </div>

    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]='libros[2].imagen' d-block w-100 alt="Random second slide">
      </div>

    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]='libros[3].imagen' d-block w-100 alt="Random third slide">
      </div>

    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]='libros[4].imagen' d-block w-100 alt="Random third slide">
      </div>

    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]='libros[5].imagen' d-block w-100 alt="Random third slide">
      </div>

    </ng-template>
  </ngb-carousel>
</div>

